doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    h1(align = "center") About Page
    img(src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/13015427_10209181699090286_2453974936116719471_n.jpg?_nc_cat=107&_nc_oc=AQkDj7-3FVWPrPy9z9XrOdMxeXuhp0Fu-_Xuk2djO8-rZ5taBCgfwqKHB4933PzIB1M&_nc_ht=scontent.fybz2-2.fna&oh=ea8428e37be2b73ad49a1e26cc225601&oe=5E60FF5D" height=210 width=210)
    p About me: "Hi I'm Sakib Haider, sorry this didn't turn out that well :( I think I got most of the requirements tho"
